@import"../css/reset.css";@import"../css/grid.css";
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Playball);
body{
	background:#fff url(../images/bg_main.jpg) 0 0 repeat;
	font:13px/22px Arial, Helvetica, sans-serif;
	color:#7a6d6b;
	min-width:980px;
	z-index:5;
}
html,body{
	height:100%;
}
p{
	padding-bottom:22px
}
a{
	color:#ee5e3d;outline:none;cursor:pointer;text-decoration:none;
}
a:hover{
	text-decoration: underline
}
/*  Header styles */
h1{
	font-size:70px;
	line-height:84px;
	color:#67a1b1;
	font-family:'黑体', cursive;
	font-weight:400;
	letter-spacing:-2px;
}
		h1 span{
			display:inline-block;
			background:url(../images/star.png)  0 38px no-repeat;
			padding:0 0 0 45px;
		}
		h1 img{
			margin:38px 0 0 27px;
		}
h2{
	color:#3f2724;font-size:30px;
}
h3{
	font:bold 11px/22px Arial, Helvetica, sans-serif;
	text-transform:uppercase; color:#ee5e3d;
}

/*----- txt,links,lines,titles -----*/
.clear{clear:both;line-height:0;font-size:0;overflow:hidden;height:0;width:100%;}
.wrapper{width:100%;overflow:hidden;position:relative;}
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.color1{color:#ee5e3d;}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}

/********************** Content ************************/
/*section{ position:relative; z-index:5;}*/
#page1{
	width:960px;
	margin:0 auto;
	text-align:center;
	position:relative;
	margin-bottom:125px;
	padding-bottom:72px;
}
.text1{
	padding:9px 0 0 0;
}
.box{
	padding:15px 0 0 0;
}
.dropcap{
	font:30px/70px 'Oswald', sans-serif;
	display:inline-block; color:#fff;
	width:188px; height:188px;
	border-radius:50%;
	background:#ee5e3d;
	position:relative;
	overflow:hidden
}
	.dropcap img{
		margin:25px 0 0 0;
	}
	.dropcap span{
		display:block;
		margin-top:-20px;
	}
.dropcap1{
	font:30px/70px 'Oswald', sans-serif;
	display:inline-block; color:#fff;
	width:188px; height:188px;
	border-radius:50%;
	background:#ee5e3d;
	position:relative;
	overflow:hidden
}
	.dropcap1 img{
		margin:25px 0 0 0;
	}
	.dropcap1 span{
		display:block;
		margin-top:-17px;
	}
.list-1{
	position:relative;
	padding:15px 50px 47px;
}
	.list-1 li{
		position:relative;
		background:url(../images/border-bottom.png) 0 0 repeat-x;
		text-transform:uppercase;
		font-size:12px;
	}
	.list-1 li:first-child{
		background:none;
	}
	.list-1 li a{
		color:#5f5250;
		display:block;padding:9px 0;
		border-radius:5px;
	}
	.list-1 li a:hover{
		text-decoration:none;
		color:#fff;
		background:#ee5e3d;
	}

/******************** textbox ******************/
	#textbox{
	  text-align: center;
	}
	#textbox div{
	  margin: 50px auto;
	  background: #9BD1FA;
	  border-width: 5px;
	  border-style: solid;
	  border-radius: 25px;
	  border-color: #67a1b1;
	  display: inline-block;
	}
	#textbox p{
		margin: 10px 10px ;
		padding: 0px;
	  font-size:13px;
		color:#000000;
	}

/******************** Footer ******************/
footer{ text-align:center; padding:54px 0 0 0; font:11px/22px Arial, Helvetica, sans-serif; color:#5f5250; text-transform:uppercase;}